body {
    background-color: lightgray;
}

h1 {
    color: maroon;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: verdana;
    color:purple;
    font-size: 30px;
}

p {
    font-family: verdana;
    color:lightblue
    font-size: 30px;
}
